/* _content/MyWebERP/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-sfxcdrqmkp] {
    height: 100%;
    font-family: var(--bs-font-sans-serif);
}

[b-sfxcdrqmkp] .icon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-mask-position: center center;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

[b-sfxcdrqmkp] #menu-top {
    display: block;
}

    [b-sfxcdrqmkp] #menu-top.hidden {
        display: none;
    }

[b-sfxcdrqmkp] .icon-back {
    -webkit-mask-image: url("images/back.svg");
    mask-image: url("images/back.svg");
}

[b-sfxcdrqmkp] .icon-menu {
    -webkit-mask-image: url("images/menu.svg");
    mask-image: url("images/menu.svg");
}

[b-sfxcdrqmkp] .content {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

[b-sfxcdrqmkp] .menu-button:hover .icon {
    background-color: var(--dxbl-btn-hover-color);
}

.nav-buttons-container[b-sfxcdrqmkp] {
    display: flex;
    gap: 10px;
    padding: 2rem 0rem;
}

    .nav-buttons-container[b-sfxcdrqmkp]  .menubutton-float-end {
        margin-left: auto;
    }

    .nav-buttons-container[b-sfxcdrqmkp]  .dxbl-btn-icon-only {
        --dxbl-btn-padding-x: 0.75rem;
        --dxbl-btn-padding-y: 0.25rem;
    }

@media (max-width: 768px) {
    [b-sfxcdrqmkp] .layout-sidebar {
        grid-area: header / header / header / header !important;
    }
}

@media (max-width: 768px) {
    [b-sfxcdrqmkp] #menu-top {
        display: none;
    }
}
/* _content/MyWebERP/Components/Layout/NavMenu.razor.rz.scp.css */
#sidebar[b-9zg451edqf] {
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    background-image: linear-gradient(180deg, var(--bs-primary) 0%, var(--bs-black) 150%);
    display: block;
}

    #sidebar.auto-expanded[b-9zg451edqf] {
        display: none;
    }

    #sidebar .menu-closeonclick-placeholder[b-9zg451edqf] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

[b-9zg451edqf] .sidebar-header {
    padding: 2rem 1rem;
}

.logo[b-9zg451edqf] {
    text-align: center;
}

[b-9zg451edqf] .menu-button-container {
    align-self: center;
}

.menu-button[b-9zg451edqf] {
    padding: 0.375rem;
    width: 1rem;
    height: 1rem;
    background-image: url("images/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

[b-9zg451edqf] .menu.display-mobile {
    margin-bottom: 2rem;
}

[b-9zg451edqf] .menu {
    background-color: inherit;
}

    [b-9zg451edqf] .menu .dxbl-menu-item-list {
        gap: 0.5rem;
    }

[b-9zg451edqf] .menu-item {
    color: var(--bs-white);
}

[b-9zg451edqf] .icon {
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    opacity: 0.4;
}

[b-9zg451edqf] .home-icon {
    background-image: url("images/home.svg");
}

[b-9zg451edqf] .weather-icon {
    background-image: url("images/weather.svg");
}

[b-9zg451edqf] .counter-icon {
    background-image: url("images/counter.svg");
}


[b-9zg451edqf] .docs-icon {
    mask-image: url("images/doc.svg");
    -webkit-mask-image: url("images/doc.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

[b-9zg451edqf] .demos-icon {
    mask-image: url("images/demos.svg");
    -webkit-mask-image: url("images/demos.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

[b-9zg451edqf] .footer-button:hover .demos-icon {
    background-color: var(--dxbl-btn-hover-color);
}

[b-9zg451edqf] .footer-button:hover .docs-icon {
    background-color: var(--dxbl-btn-hover-color);
}

[b-9zg451edqf] .footer {
    text-align: center;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
}

    [b-9zg451edqf] .footer .icon {
        margin-left: 0;
    }

#sidebar.auto-expanded[b-9zg451edqf]  .layout-item {
    display: block;
}

#sidebar.auto-expanded[b-9zg451edqf]  .footer {
    display: block;
}

@media (max-width: 768px) {
    #sidebar[b-9zg451edqf] {
        min-width: inherit;
        max-width: inherit;
        display: block;
    }

        #sidebar .menu-closeonclick-placeholder[b-9zg451edqf] {
            display: block;
        }

        #sidebar.auto-expanded[b-9zg451edqf] {
            position: fixed;
            width: 100%;
            z-index: 3;
            display: block;
        }

            #sidebar.auto-expanded[b-9zg451edqf]  .sidebar-header {
                border-bottom: 1px solid var(--bs-white);
            }

            #sidebar.auto-expanded .menu-button[b-9zg451edqf] {
                background-image: url("images/close.svg");
                width: 1.875rem;
                height: 1.875rem;
            }

        #sidebar:not(.auto-expanded)[b-9zg451edqf]  .dxbl-gridlayout-root {
            gap: unset !important;
        }

    .logo[b-9zg451edqf] {
        text-align: inherit;
    }

    [b-9zg451edqf] .menu-button-container {
        display: block;
    }

    [b-9zg451edqf] .layout-item {
        display: none;
    }

    [b-9zg451edqf] .footer {
        display: none;
    }
}
/* _content/MyWebERP/Components/Layout/TopMenu.razor.rz.scp.css */
/*#sidebar {
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    background-image: linear-gradient(180deg, var(--bs-primary) 0%, var(--bs-black) 150%);
    display: block;
}

    #sidebar.auto-expanded {
        display: none;
    }

    #sidebar .menu-closeonclick-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

::deep .sidebar-header {
    padding: 2rem 1rem;
}

.logo {
    text-align: center;
}

::deep .menu-button-container {
    align-self: center;
}

.menu-button {
    padding: 0.375rem;
    width: 1rem;
    height: 1rem;
    background-image: url("images/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

::deep .menu.display-mobile {
    margin-bottom: 2rem;
}

::deep .menu {
    background-color: inherit;
}

    ::deep .menu .dxbl-menu-item-list {
        gap: 0.5rem;
    }

::deep .menu-item {
    color: var(--bs-white);
}

::deep .icon {
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    opacity: 0.4;
}

::deep .home-icon {
    background-image: url("images/home.svg");
}

::deep .weather-icon {
    background-image: url("images/weather.svg");
}

::deep .counter-icon {
    background-image: url("images/counter.svg");
}


::deep .docs-icon {
    mask-image: url("images/doc.svg");
    -webkit-mask-image: url("images/doc.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

::deep .demos-icon {
    mask-image: url("images/demos.svg");
    -webkit-mask-image: url("images/demos.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

::deep .footer-button:hover .demos-icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .footer-button:hover .docs-icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .footer {
    text-align: center;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
}

    ::deep .footer .icon {
        margin-left: 0;
    }

#sidebar.auto-expanded ::deep .layout-item {
    display: block;
}

#sidebar.auto-expanded ::deep .footer {
    display: block;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: inherit;
        max-width: inherit;
        display: block;
    }

        #sidebar .menu-closeonclick-placeholder {
            display: block;
        }

        #sidebar.auto-expanded {
            position: fixed;
            width: 100%;
            z-index: 3;
            display: block;
        }

            #sidebar.auto-expanded ::deep .sidebar-header {
                border-bottom: 1px solid var(--bs-white);
            }

            #sidebar.auto-expanded .menu-button {
                background-image: url("images/close.svg");
                width: 1.875rem;
                height: 1.875rem;
            }

        #sidebar:not(.auto-expanded) ::deep .dxbl-gridlayout-root {
            gap: unset !important;
        }

    .logo {
        text-align: inherit;
    }

    ::deep .menu-button-container {
        display: block;
    }

    ::deep .layout-item {
        display: none;
    }

    ::deep .footer {
        display: none;
    }
}
*/
/* _content/MyWebERP/Components/Pages/Counter.razor.rz.scp.css */
.counter-block[b-dhkv1v9bwy] {
    display: flex;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 16.875rem;
    height: 17rem;
    position: relative;
}

    .counter-block .counter-content[b-dhkv1v9bwy] {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .counter-block .counter-count[b-dhkv1v9bwy] {
        font-size: 7.5rem;
        font-weight: 400;
        line-height: 7.75rem;
    }

    .counter-block .counter-block-back[b-dhkv1v9bwy] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--bs-body-color);
        opacity: 0.05;
        border-radius: 1rem;
        z-index: -2;
    }
/* _content/MyWebERP/Components/Pages/Index.razor.rz.scp.css */
[b-on4lctv3tb] .welcome-gridlayout {
    margin: auto;
    width: auto;
    height: auto;
}

    [b-on4lctv3tb] .welcome-gridlayout .dxbl-gridlayout-root {
        align-content: center;
        justify-content: center;
    }


[b-on4lctv3tb] .title {
    text-align: center;
}

[b-on4lctv3tb] .welcome-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

[b-on4lctv3tb] .welcome-card {
    width: 26.25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    border-radius: 1rem;
    color: var(--bs-link-color-rgb);
    gap: 1.5rem;
    text-decoration: none;
    position: relative;
}

    [b-on4lctv3tb] .welcome-card:hover {
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    }

    [b-on4lctv3tb] .welcome-card .welcome-card-img {
        width: 6.5rem;
        height: 6.5rem;
    }

    [b-on4lctv3tb] .welcome-card .welcome-card-text {
        font-size: 1.75rem;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
        text-decoration: unset;
    }

[b-on4lctv3tb] .icon-fill {
    fill: var(--bs-primary);
}

[b-on4lctv3tb] .welcome-card .welcome-card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bs-body-color);
    opacity: 0.05;
    border-radius: 1rem;
    z-index: -2;
}
/* _content/MyWebERP/Components/Pages/ListData.razor.rz.scp.css */
/* _content/MyWebERP/Components/Pages/SO001/SO001EditTEST.razor.rz.scp.css */
.grid-modified-cell[b-ibshtn1yr3] {
    background-color: rgba(var(--bs-primary-rgb), 0.15) !important;
}
